<%- include('../partial/head') %>
  </head>

  <body>

    <%- include('../partial/navbar') %>
      <div class="flex justify-center flex-col items-center w-full my-20">
        <h1 class="text-2xl font-bold mb-5 text-red-500">
          <%= editing? "Edit" : 'Add' %> Home Airbnb
        </h1>
        <form action="/host/<%= editing?'edit-home':'details-successfuly' %>" method="post"
          class="flex w-4/12 flex-col gap-5">
          <input class="w-full bg-red-300 px-3 py-2 rounded-md" value="<%= editing ? home.id:'' %>" type="hidden"
            name="id" placeholder="image link" id="" required>
          <input class="w-full bg-red-300 px-3 py-2 rounded-md" value="<%= editing ? home.image:'' %>" type="text"
            name="image" placeholder="image link" id="" required>
          <input class="w-full bg-red-300 px-3 py-2 rounded-md" value="<%= editing ? home.address:'' %>" type="text"
            name="address" placeholder="Address" id="" required>
          <input class="w-full bg-red-300 px-3 py-2 rounded-md" value="<%= editing ? home.price:'' %>" type="text"
            name="price" placeholder="Price" id="" required>
          <input class="w-full bg-red-300 px-3 py-2 rounded-md" value="<%= editing ? home.rating:'' %>" type="text"
            name="rating" placeholder="Rating" id="" required>
          <input class="w-full bg-red-500 text-white px-3 py-2 rounded-md" type="submit">
        </form>
      </div>

  </body>

  </html>